- @page_description = "Список видів змагань заходу " + @competition.title
- @page_keywords = "федерація спортивне орієнтування Волинь Луцьк змагання захід види " + @competition.title
- @page_title = "Список видів змагань заходу | " + @competition.title
= render 'list', {races: @races, competition: @competition}